{% extends 'ebbeats/index.html' %}

{% block title %}Kevibes - {{ request.user.username }} Dashboard{% endblock %}

{% block extrastyles %}
    <style>
    
    </style>
{% endblock %}


{% block navlinks %}
    <a href="{% url 'ebbeats:home' %}" class='navlink text-left text-uppercase'><i class='fas fa-home mr-3'></i>Home</a>
    <a href="{% url 'ebbeats:explore' %}" class='navlink text-left text-uppercase'><i class='fas fa-globe mr-3'></i>Explore</a>
    <a href="{% url 'ebbeats:contact' %}" class='navlink text-left text-uppercase'><i class='fas fa-phone-alt mr-3'></i>Contact</a>
    <a href="{% url 'ebbeats:contribute' %}" class='navlink text-left text-uppercase'><i class='fas fa-gem mr-3'></i>Contribute</a>
    <a href="#" class='navlink text-left text-uppercase'><i class='fas fa-question-circle mr-3'></i>FAQs</a>
{% endblock %}


{% block content %}
    <section class="dashboard-section mb-5">
        <header class='d-flex dashboard-header m-0 shadow-lg' style="height: 250px;">
            <div class='d-flex flex-column justify-content-center text-center py-3 px-2' style='flex:1; height: 100%;'>
                <img src="{{ user.image.profile_image.url }}" class='m-auto' alt="" width="140px" height="145px" style='border-radius: 100%;'>
                <h5 class='text-app mt-2'>{{ user.username }}</h5>
            </div>
            <div class='' style='flex: 4'>
                <div class="images-show m-auto" style='width: 100%; height: 100%; background: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0,0,0,.5)), url("{{ user.image.cover_image.url }}") center center; background-size: cover;'></div>
            </div>
        </header>

        <article class='text-app'>
            {{ user.email }}
        </article>
    </section>
{% endblock %}


{% block extrascripts %}
    <script>
    
    </script>
{% endblock %}