{% extends 'ebbeats/explore.html' %}

{% block title %}Filter Result{% endblock %}



{% block navlinks %}
    <a href="{% url 'ebbeats:home' %}" class='navlink text-left text-uppercase'><i class='fas fa-home mr-3'></i>Home</a>
    <a href="{% url 'ebbeats:explore' %}" class='navlink text-left text-uppercase'><i class='fas fa-globe mr-3'></i>Explore</a>
    <a href="{% url 'ebbeats:contact' %}" class='navlink text-left text-uppercase'><i class='fas fa-phone-alt mr-3'></i>Contact</a>
    <a href="{% url 'ebbeats:contribute' %}" class='navlink text-left text-uppercase'><i class='fas fa-gem mr-3'></i>Contribute</a>
    <a href="#" class='navlink text-left text-uppercase'><i class='fas fa-question-circle mr-3'></i>FAQs</a>
{% endblock %}



{% block render-section %}
    <section class="search-section">
        {% if filter %}
        <div class="row p-0 m-0">
            {% for product in filter.qs %}
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-3 shadow-sm bg-dark">
                        <img class="card-img-top" src='{{ product.album.album_cover.url }}' style="height: 225px; width: 100%; display: block;">
                        <div class="card-body py-4 px-2">
                            <div class='d-flex justify-content-between align-items-center'>
                                <p class="card-text text-light">{{ product.name }}</p>
                                <small class="text-white-50">${{ product.price }}</small>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" class='btn btn-outline-light' title='purchase and download'><i class='fas fa-download'></i></a>
                                    <a href="#" class='btn btn-outline-light' title='add to cart'><i class='fas fa-shopping-cart'></i> +</a>
                                </div>
                                <div class='preview-dropdown text-right'>
                                    <a href="#" class='product-details text-light'>Preview</a>
                                    <div class="preview-dropdown-content text-center">
                                        <p>Album: <a href="{% url 'album-detail' product.album.pk %}" class='m-0 p-0'>{{ product.album.name }}</a></p>
                                        <p>Genre: {% for genre in product.genre.filter %}{% if forloop.counter != product.genre.count %}{{ genre }}, {% else %} {{ genre }} {% endif %} {% endfor %}</p>
                                        <p>Rating: ******</p>
                                        <div class="d-flex justify-content-between align-items-center px-1">
                                            <a href="#" class='preview-play-btn' title='preview'><i class='fas fa-play-circle fa-2x'></i></a>
                                            <small class="text-muted">Duration: {{ product.duration }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="pagination my-3 px-3 d-flex justify-content-center align-items-center">
                {% if products.paginator %}Should paginate{% else%}no pagingator{%endif%}
                <span class="">
                    {% if products.has_previous %}
                        <a href="{{request.path}}?page=1" class='btn btn-outline-danger'><i class="fas fa-angle-double-left"></i></a>
                        <a href="{{request.path}}?page={{ products.previous_page_number }}" class='btn btn-outline-danger'><i class="fas fa-angle-left"></i></a>
                    {% else %}
                        <a href="#" class='btn btn-secondary disabled'><i class="fas fa-angle-left"></i></a>
                    {% endif %}
                    <span class="current">
                        <a href="?page={{products.number}}" class='btn btn-danger'>{{ products.number }}</a> of {{ products.paginator.num_pages }}
                    </span>
                    {% if products.has_next %}
                        <a href="{{request.path}}?page={{ products.next_page_number }}" class='btn btn-outline-danger'><i class="fas fa-angle-right"></i></a>
                        <a href="{{request.path}}?page={{ products.paginator.num_pages }}" class='btn btn-outline-danger'><i class="fas fa-angle-double-right"></i></a>
                    {% else %}
                        <a href="#" class='btn btn-secondary disabled'><i class="fas fa-angle-right"></i></a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <h1>Dont render</h1>
        {% endif %}
    </section>
{% endblock %}


{% block extrascripts %}
    <script>
        new TypeIt('#explore-welcome-msg', {
                speed: 50,
                waitUntilVisible: true
            })
            .pause(1000)
            .type("Filter Results")
            .go();
    </script>
{% endblock %}