{% extends 'kevibes/index.html' %}
{% block title %}Kevibes - Checkout{% endblock %}


{% block navlinks %}
    <a href="{% url 'kevibes:home' %}" class='navlink text-left text-uppercase'><i class='fas fa-home mr-3'></i>Home</a>
    <a href="{% url 'kevibes:explore' %}" class='navlink text-left text-uppercase'><i class='fas fa-globe mr-3'></i>Explore</a>
    <a href="{% url 'kevibes:contact' %}" class='navlink text-left text-uppercase'><i class='fas fa-phone-alt mr-3'></i>Contact</a>
    <a href="{% url 'kevibes:contribute' %}" class='navlink text-left text-uppercase'><i class='fas fa-gem mr-3'></i>Contribute</a>
    <a href="#" class='navlink text-left text-uppercase'><i class='fas fa-question-circle mr-3'></i>FAQs</a>
{% endblock %}


{% block extrastyles %}
  <style>
    label{
      display: block;
      color: #ecebeb;
    }

    form input{
        outline: none;
        letter-spacing: 2px;
        width: 100%;
        padding: 0.375rem 0.75rem;
        border: 1px #ecebeb solid;
        border-radius: .25rem;
    }

    form input:focus-within{
        border-color: rgb(221, 51, 73);
        box-shadow: none;
    }

    form textarea:focus-within{
        border-color: rgb(221, 51, 73);
        box-shadow: none;
    }

    .form-btn{
        background: transparent;
        color: #dc3545;
        padding: 7px 11px;
        border: 1px #dc3545 solid;
        border-radius: 3px;
        transition: .5s ease;
    }

    .form-btn:hover{
        color: #eeeeee; 
        background: #dc3545;
        transform: scale(1.02);
        box-shadow: 0 0 10px #000000bc;
    }

    .form-btn:focus-within{
        outline: none;
    }

    .list-group-item:nth-child(odd){
      background: #212122;
    }

    .list-group-item:nth-child(even){
      background: #242525;
    }

    .promo-input:focus-within{
      border-color: rgb(221, 51, 73);
    }
  </style>
{% endblock %}

{% block content %}
{% load cart_template_tag %}
<section class="checkout-container mb-5">
    <div class="container wow fadeIn">
      <h2 class="my-2 mb-4 checkout-welcome-msg text-app"></h2>

      <div class="row">
        <div class="col-md-7 mb-4"> <!-- left side -->
          <div class="card bg-dark">
            <form class="card-body billing-form">
              <div class="col-md-12 mb-3">
                <label for="email text-app">Email</label>
                <input type="email" class="text-white-50 bg-transparent" id="email">
                <small class="text-muted">Enter your email address</small>
              </div>
              <div class="col-md-12 mb-3">
                <label for="phone-no text-app">Phone Number</label>
                <input type="text" class="text-white-50 bg-transparent" id="phone-no">
                <small class="text-muted">Enter your phone number</small>
              </div>
              <div class="col-md-12 mb-3">
                <label for="total-amount text-app">Amount</label>
                <input type="text" class="text-white-50 bg-transparent" id="total-amount" disabled>
                <small class="text-muted">This field holds the total price of items in your cart</small>
              </div>
             
              <hr class="mb-4">
              <button class="form-btn btn-block pay-btn" type="button">checkout</button>
            </form>
          </div>
        </div><!-- end of the left side -->

        <div class="col-md-5 mb-4"> <!-- right side -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-app">Your cart</span>
            <span class="badge badge-danger badge-pill">{{ request.user|cart_item_count }}</span>
          </h4>
          <ul class="list-group mb-3 z-depth-1">
            {% for ord_item in cart %}
            <li class="list-group-item text-app d-flex justify-content-between lh-condensed">
              <div>
                <a href="{% url 'kevibes:album-detail' ord_item.item.album.pk %}" class="my-0 text-app d-block">{{ ord_item.item }}</a>
                <small class="text-muted">{{ ord_item.item.album }}</small>
              </div>
              <span class="text-muted">${{ ord_item.item.get_actual_price }}</span>
              <input type="hidden" value={{ord_item.item.get_actual_price }} name='product-price' id='product-price'>
            </li>
            {% endfor %}
          </ul>
          <form class="card p-2 bg-dark">
            <div class="input-group">
              <input type="text" class="form-control bg-transparent text-white promo-input" style='box-shadow: none;' placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md ml-2 form-btn" style='padding: 5px 10px' type="button">Redeem</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</section>
{% endblock %}


{% block extrascripts %}  
  <script src="https://js.paystack.co/v1/inline.js"></script>
  <script>
    new TypeIt('.checkout-welcome-msg', {
        speed: 50,
        waitUntilVisible: true
    })
    .pause(1000)
    .type('Checkout <i class="fas fa-angle-double-right"></i>')
    .go();

    let email = document.querySelector('#email');
    let phoneNo = document.querySelector('#phone-no');
    let productPrices = document.querySelectorAll('#product-price');
    let totalAmountInput = document.querySelector('#total-amount');
    let payBtn = document.querySelector('.pay-btn');


    let totalProductPrice = 0;
    productPrices.forEach(priceInput => { 
      totalProductPrice += parseFloat(Number(priceInput.value));
    });

    totalAmountInput.value = totalProductPrice;

    payBtn.onclick = () => {
      if (email.value === '' || phoneNo.value === ''){
        showAlert("Please fill in all fields", 'danger', 5000, 'fadeIn');
      }else{
        strPhoneNo = String(phoneNo.value);
        formattedPhoneNo = strPhoneNo.slice(1, strPhoneNo.length-1);
        payWithPaystack(email.value, formattedPhoneNo, totalProductPrice);
      }
    }
    

    // for payment 
    function payWithPaystack(email, phone_no, amount){
      var handler = PaystackPop.setup({
      key: 'pk_live_5efc1f9ce5eda5b2050c8152350853b1adb814b3',
      email: email,
      amount: Math.round(amount) * 100, 
      currency: "NGN",
      ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
      metadata: {
          custom_fields: [
              {
                  display_name: "Mobile Number",
                  variable_name: "mobile_number",
                  value: '+234' + phone_no
              }
          ]
      },
      callback: function(response){
          alert('success. transaction ref is ' + response.reference);
          // make a post request to the server here and change the ordered field in the current order to True
          $.post(
            "/payment-successful/",
            {'message': 'success', 'transaction_ref': `${response.reference}`}
          )
          .done(function(response){
            console.log(response);
           }
          ).fail(function(e){
              console.log(e.message);
            }
          );
      },
      onClose: function(){
         console.log("Payment window closed");
      }
      });
      handler.openIframe();
    }      

  </script>
{% endblock %}
