{% extends 'kevibes/index.html' %}


{% block title %}Error{% endblock %}


{% block extrastyles %}

{% endblock %}

{% block all_content %}
    <div class="error-container bg-danger d-flex justify-content-center align-items-center" style='position: fixed; height: 100vh; width: 100vw'>
        <div class="error-caption text-center">
            <i class='fas fa-smile fa-10x text-white mb-3'></i>
            <h1 class='text-app'>Oops!!! Page Not Found</h1>
            <p class='text-dark'></p>
            <a href="{% url 'kevibes:home' %}" class='text-white-50'>kevibes - home</a>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}{% endblock %}