{% extends 'kevibes/index.html' %}

{% block title %}Kevibes - Contribute{% endblock %}

{% block extrastyles %}
    <style>
        .contribute-section{
            width: 50%;
        }

        form.donate-form{
            width: 100%;
        } 

        .donate-form input{
            background:  none;
            padding: 7px 11px;
            border: 1px #ecebec solid;
            color: #dddcdc;
            transition: .3s ease;
            outline: none;
            box-sizing: border-box;
            /* display: block; */
            width: 100%;
        }

        .donate-form input:focus{
            border-color: #dc3545;
        }

        .form-btn{
            background: transparent;
            color: #dc3545;
            padding: 7px 11px;
            border: 1px #dc3545 solid;
            border-radius: 3px;
            transition: .5s ease;
            box-sizing: border-box;
        }

        .form-btn:hover{
            color: #eeeeee; 
            background: #dc3545;
            /* transform: scale(1.02); */
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
        }

        .form-btn:focus-within{
            outline: none;
        }

        @media screen and (max-width: 1000px) {
            .contribute-section{
                width: 70%;
            }
        }

        @media screen and (max-width: 768px) {
            .contribute-section{
                width: 70%;
            }
        }

        @media screen and (max-width: 575px) {
            .contribute-section{
                width: 93%;
            }
        }
    </style>
{% endblock %}

{% block navlinks %}
    <a href="{% url 'kevibes:home' %}" class='navlink text-left text-uppercase'><i class='fas fa-home mr-3'></i>Home</a>
    <a href="{% url 'kevibes:explore' %}" class='navlink text-left text-uppercase'><i class='fas fa-globe mr-3'></i>Explore</a>
    <a href="{% url 'kevibes:contact' %}" class='navlink text-left text-uppercase'><i class='fas fa-phone-alt mr-3'></i>Contact</a>
    <a href="{% url 'kevibes:contribute' %}" class='navlink text-left text-uppercase active'><i class='fas fa-gem mr-3'></i>Contribute</a>
    <a href="{% url 'kevibes:faqs' %}" class='navlink text-left text-uppercase'><i class='fas fa-question-circle mr-3'></i>FAQs</a>
{% endblock %}


{% block content %}
    <section class="contribute-container d-flex flex-column justify-content-center text-center align-items-center" style='height: 100%'>
        <div class="contribute-section container bg-dark px-2 pt-4 pb-4">
            <h3 class='contribute-welcome-msg text-center text-app mt-0'></h3>
            <form class='wow fadeInUp mt-3 donate-form d-flex flex-column p-3 m-auto'>
                <div class="form-group">
                    <input type="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="number" id='phone-no' placeholder="Phone no">
                </div>
                <div class="form-group">
                    <input type="number" name="amount" id="" placeholder="amount">
                </div>
                <button class='form-btn' type="button" id='pay-btn'> Donate </button> 
            </form>
            <p class='text-muted text-center'>Help us grow with your willing contributions</p>
        </div>
    </section>
    
{% endblock %}


{% block extrascripts %}
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script>

        new TypeIt('.contribute-welcome-msg', {
            speed: 50,
            waitUntilVisible: true
        })
        .type('Make Donations')
        .go()

        // handlePayment 
        let paymentForm = document.querySelector('.donate-form');
        let emailInput = document.querySelector('input[type="email"]');
        let phoneNoInput = document.querySelector('#phone-no');
        let amountDonatedInput = document.querySelector('input[name="amount"]');
        let payBtn = document.querySelector('#pay-btn');
        payBtn.addEventListener('click', function(){
            if (emailInput.value === '' || amountDonatedInput.value === ''){
                showAlert("Please fill in all fields", 'danger', 5000, 'shake');
            }else{
                strPhoneNo = String(phoneNoInput.value);
                formattedPhoneNo = strPhoneNo.slice(1, strPhoneNo.length-1);
                payWithPaystack(emailInput.value, formattedPhoneNo, amountDonatedInput.value);
            }
        });

        // for payment 
        function payWithPaystack(email, phone_no, amount){
            var handler = PaystackPop.setup({
            key: 'pk_live_5efc1f9ce5eda5b2050c8152350853b1adb814b3',
            email: email,
            amount: amount * 100, 
            currency: "NGN",
            ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
            metadata: {
                custom_fields: [
                    {
                        display_name: "Mobile Number",
                        variable_name: "mobile_number",
                        value: '+234' + phone_no
                    }
                ]
            },
            callback: function(response){
                alert('success. transaction ref is ' + response.reference);
            },
            onClose: function(){
                console.log("Payment window closed");
            }
            });
            handler.openIframe();
        }
    </script>
{% endblock %}