{% extends 'ebbeats/index.html' %}

{% block title %}Ebbeats - Edit Profile{% endblock %}

{% block extrastyles %}
    <style>
        label{
            color: #ecebec;
            display: block;
        }

        input[type='file']{
            color: #ecebec;
            box-sizing: border-box;
        }

        input{
            box-sizing: border-box;
            width: 100%;
            outline: none;
            padding: .3rem 0.45rem;
            border: 1px #ecebec solid;
            background: none;
            color: #dddcdc;
            transition: .3s ease;
        }

        input:focus{
            border: 1px #dc3545 solid;
        }

        .form-btn{
            background: transparent;
            color: #dc3545;
            padding: 7px 11px;
            border: 1px #dc3545 solid;
            border-radius: 3px;
            transition: .5s ease;
            box-sizing: border-box;
        }

        .form-btn:hover{
            color: #eeeeee; 
            background: #dc3545;
            transform: scale(1.1);
            box-shadow: 0 0 10px #000000bc;
        }

        .form-btn:focus-within{
            outline: none;
        }
    </style>
{% endblock %}


{% block navlinks %}
    <a href="{% url 'ebbeats:home' %}" class='navlink text-left text-uppercase'><i class='fas fa-home mr-3'></i>Home</a>
    <a href="{% url 'ebbeats:explore' %}" class='navlink text-left text-uppercase'><i class='fas fa-globe mr-3'></i>Explore</a>
    <a href="{% url 'ebbeats:contact' %}" class='navlink text-left text-uppercase'><i class='fas fa-phone-alt mr-3'></i>Contact</a>
    <a href="{% url 'ebbeats:contribute' %}" class='navlink text-left text-uppercase'><i class='fas fa-gem mr-3'></i>Contribute</a>
    <a href="#" class='navlink text-left text-uppercase'><i class='fas fa-question-circle mr-3'></i>FAQs</a>
{% endblock %}


{% block content %}
<section class="update-profile-section bg-dark p-3 mb-5">
    <h3 class='update-prof-welcome-msg text-app text-uppercase mt-1 mb-4'></h3>
    <form action="{% url 'ebbeats:update-profile' %}" method='POST' class='update-profile-form my-4' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row m-0">
            <div class="form-group mb-4 col-md-6 col-sm-12">
                <label for="">Profile Picture</label>
                <input type="file" name="profile-image" id="" class=''>
            </div>
            <div class="form-group mb-4 col-md-6 col-sm-12">
                <label for="">Cover Image</label>
                <input type="file" name='cover-image'>
            </div>          
        </div>
        <div class="row m-0">
            <div class="form-group mb-4 col-md-6 col-sm-12">
                <label for="">Username</label>
                <input type="text" name='username'>
            </div>
            <div class="form-group mb-4 col-md-6 col-sm-12">
                <label for="">Email</label>
                <input type="email" name='email'>
            </div>
        </div>
        <div class="row m-0">
            <div class="form-group mb-4 col-md-6 col-sm-12">
                <label for="">Password</label>
                <input type="password" name='password'>
            </div>
            <div class="form-group mb-4 col-md-6 col-sm-12">
                <label for="">Confirm Password</label>
                <input type="password" id='confirm-password'>
            </div>
        </div>
        <div class="mt-1 mb-2 px-2">
            <button href="#" class='form-btn'>Submit Updates</button>
        </div>
    </form>
</section>
{% endblock %}


{% block extrascripts %}
    <script>
        new TypeIt('.update-prof-welcome-msg', {
            speed: 50,
            waitUntilVisible: true
        })
        .type("Update Profile")
        .go();


        updateForm = $('.update-profile-form');
        updateForm.on('submit', function(e){
            if (updateForm.find('input[name="password"]').val() !== updateForm.find('input[id="confirm-password"]').val()){
                e.preventDefault();
                showAlert("Passwords Don't match", 'danger', 5000, 'fadeIn');
            }

            if (updateForm.find('input[name="profile-image"]').val() === '' && updateForm.find('input[name="cover-image"]').val() === '' && updateForm.find('input[name="username"]').val() === '' && updateForm.find('input[name="email"]').val() === '' && updateForm.find('input[name="password"]').val() === ''){
                e.preventDefault();
                showAlert("Please fill in all fields", 'danger', 5000, 'fadeIn');
            }
        });
    </script>
{% endblock %}